In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import scipy.stats as st
from pprint import pprint
import time
from scipy.stats import linregress
import reverse_geocoder as rg
import glob

In [11]:
df90_00 = pd.read_csv("output_data/earthquake_data_1990-99.csv")
df90_00.groupby(['Year']).count()

       Lat   Lng  Depth   Mag   Sig  Place  Time  Month   Day
Year
1990  1758  1758   1758  1758  1758   1758  1758   1758  1758
1991  1583  1583   1583  1583  1583   1583  1583   1583  1583
1992  1662  1662   1662  1662  1662   1662  1662   1662  1662
1993  1560  1560   1560  1560  1560   1560  1560   1560  1560
1994  1686  1686   1686  1686  1686   1686  1686   1686  1686
1995  1498  1498   1498  1498  1498   1498  1498   1498  1498
1996  1367  1367   1367  1367  1367   1367  1367   1367  1367
1997  1234  1234   1234  1234  1234   1234  1234   1234  1234
1998  1074  1074   1074  1074  1074   1074  1074   1074  1074
1999  1190  1190   1190  1190  1190   1190  1190   1190  1190
2000  1491  1491   1491  1491  1491   1491  1491   1491  1491

In [12]:
df00_09 = pd.read_csv("output_data/earthquake_data_2000-09.csv")
df00_09.groupby(['Year']).count()

       Lat   Lng  Depth   Mag   Sig  Place  Time  Month   Day
Year
1980  1405  1405   1405  1405  1405   1405  1405   1405  1405
1981  1262  1262   1262  1262  1262   1262  1262   1262  1262
1982  1495  1495   1495  1495  1495   1495  1495   1495  1495
1983  1796  1796   1796  1796  1796   1796  1796   1796  1796
1984  1676  1676   1676  1676  1676   1676  1676   1676  1676
1985  1802  1802   1802  1802  1802   1802  1802   1802  1802
1986  1755  1755   1755  1755  1755   1755  1755   1755  1755
1987  1569  1569   1569  1569  1569   1569  1569   1569  1569
1988  1584  1584   1584  1584  1584   1584  1584   1584  1584
1989  1557  1557   1557  1557  1557   1557  1557   1557  1557
2000  1491  1491   1491  1491  1491   1491  1491   1491  1491

In [13]:
df10_20 = pd.read_csv("output_data/earthquake_data_2010-20.csv")
df10_20.groupby(['Year']).count()

       Lat   Lng  Depth   Mag   Sig  Place  Time  Month   Day
Year
2010  2393  2393   2393  2393  2393   2393  2393   2393  2393
2011  2688  2688   2688  2688  2688   2688  2688   2688  2688
2012  1677  1677   1677  1677  1677   1677  1677   1677  1677
2013  1595  1595   1595  1595  1595   1595  1595   1595  1595
2014  1727  1727   1727  1727  1727   1727  1727   1727  1727
2015  1556  1556   1556  1556  1556   1556  1556   1556  1556
2016  1695  1695   1695  1695  1695   1695  1695   1695  1695
2017  1553  1553   1553  1553  1553   1553  1553   1553  1553
2018  1799  1799   1799  1799  1799   1799  1799   1799  1799
2019  1628  1628   1628  1628  1628   1628  1628   1628  1628
2020  1398  1398   1398  1398  1398   1398  1398   1398  1398

In [14]:
path = r"output_data"
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

combined = pd.concat(li, axis=0, ignore_index=True)

# combined.sort_values('Year')
combined.groupby(['Year']).count()

       Lat   Lng  Depth   Mag   Sig  Place  Time  Month   Day
Year
1980  1405  1405   1405  1405  1405   1405  1405   1405  1405
1981  1262  1262   1262  1262  1262   1262  1262   1262  1262
1982  1495  1495   1495  1495  1495   1495  1495   1495  1495
1983  1796  1796   1796  1796  1796   1796  1796   1796  1796
1984  1676  1676   1676  1676  1676   1676  1676   1676  1676
1985  1802  1802   1802  1802  1802   1802  1802   1802  1802
1986  1755  1755   1755  1755  1755   1755  1755   1755  1755
1987  1569  1569   1569  1569  1569   1569  1569   1569  1569
1988  1584  1584   1584  1584  1584   1584  1584   1584  1584
1989  1557  1557   1557  1557  1557   1557  1557   1557  1557
1990  1758  1758   1758  1758  1758   1758  1758   1758  1758
1991  1583  1583   1583  1583  1583   1583  1583   1583  1583
1992  1662  1662   1662  1662  1662   1662  1662   1662  1662
1993  1560  1560   1560  1560  1560   1560  1560   1560  1560
1994  1686  1686   1686  1686  1686   1686  1686   1686  1686
1995  1498  1498   1498  1498  1498   1498  1498   1498  1498
1996  1367  1367   1367  1367  1367   1367  1367   1367  1367
1997  1234  1234   1234  1234  1234   1234  1234   1234  1234
1998  1074  1074   1074  1074  1074   1074  1074   1074  1074
1999  1190  1190   1190  1190  1190   1190  1190   1190  1190
2000  2982  2982   2982  2982  2982   2982  2982   2982  2982
2010  2393  2393   2393  2393  2393   2393  2393   2393  2393
2011  2688  2688   2688  2688  2688   2688  2688   2688  2688
2012  1677  1677   1677  1677  1677   1677  1677   1677  1677
2013  1595  1595   1595  1595  1595   1595  1595   1595  1595
2014  1727  1727   1727  1727  1727   1727  1727   1727  1727
2015  1556  1556   1556  1556  1556   1556  1556   1556  1556
2016  1695  1695   1695  1695  1695   1695  1695   1695  1695
2017  1553  1553   1553  1553  1553   1553  1553   1553  1553
2018  1799  1799   1799  1799  1799   1799  1799   1799  1799
2019  1628  1628   1628  1628  1628   1628  1628   1628  1628
2020  1398  1398   1398  1398  1398   1398  1398   1398  1398